:root{
  --azul : #0059aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
}

#header {
  position: relative;
  width: 100%;
  background: #FFFFFF;
}

#header .social-bar{
  width: 100%;
  /* height: 35px; */
  background-color: var(--azul);
}

.info{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-contact{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.info-contact i{
  margin-right: 5px;
}

.info-contact>*{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
}

.social{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.social a{
  text-decoration: none;
  color: #008ed4;
  background-color: #002e58;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.social a:hover{
  color: white;
  background-color: #008ed4;
  transition: 0.3s ease-in-out;
}

#header .container {
  width: min(90%, 1200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

#header .container:nth-child(1){
  padding: 5px 0;
}

.logoecliente {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
}

.logoecliente img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.logomenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.logomenu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu{
  height: 100%;
  width: 0px;
  background-color: #0059aa ;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: width 0.3s;
  text-shadow: 0.2px 0.2px 0.2px white;
}

.menu a{
  color: white;
  font-size: 18px;
  display: block;
  padding: 12px 10px 12px 32px;
  text-decoration: none;
  font-family:sans-serif;
  
}

.menu a:hover{
  color: #0059aa;
  background-color: white;
}

.menu i{
  margin-right: 7px;
}

main {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.headline {
  position: relative;
  width: min(90%, 900px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
  margin-bottom: -5px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #464650;
  text-align: center;
}

.subtitulo{
  font-size: 18px;
  line-height: 12px;
  color: #464650 ;
  text-align: center;
  margin: 5px 0 20px;
}

.header {
  margin: 5px 0 20px;
  font-size: 18px;
  text-align: center;
  color: #464650;
}

html {
  font-size: 62.5%;
  height: 90vh;
  width: 100vw;
  background:  0059aa;
  font-family: sans-serif;

}

.card-body {
  background-color: white;
  padding-right: 50px;
  height: 250px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 70 70px 0;
}

.card-body.active {
  height: 300px;
  
}

.card-body.active .header h1 {
  font-size: 2.5rem;
}

.header-form {
  padding-left: 50px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.card-body .header h1 {
  font-size: 3rem;
  text-align: center;
}

.card-body .header p {
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-align: center;
}

.card-body .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 50px;
}

.card-body .form input {
  background-color: transparent;
  width: 100%;
  outline: none;
  height: 40px;
  margin-bottom: 2rem;
  border: none;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.card-form .form input::placeholder{
  padding-left: .5rem;
  color: grey;
}

.card-body .form  button {
  width: 50%;
  height: 50px;
  background-color: var(--azul);
  outline: none;
  border: none;
  border-radius: 10px;
  color: #eee;
  cursor: pointer;
  box-shadow:3px 3px 7px 1px #ccc;
  font-size: 20px;
}

.novo{
  margin-right: -115px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  box-shadow:3px 3px 7px 1px #ccc;
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  display: none;
}


.wrapper .qr-code {
  display: none;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 5px;
  pointer-events: none;
  border: 1px solid #ccc;
}

.wrapper.active .form{
  display: none;
}

.wrapper .qr-code img {
  width: 170px;
}

.wrapper.active .qr-code{
  display: block;
  transition: all .5s .5s ease;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 150px;
}

.botao{
  background-color: white;
  display: none;
  border: 0.5px solid grey;
  border-style: groove;
  padding: 2px;
  cursor: pointer;
  margin-left: 60px;
}

.botao img{
  height: 40px;
  width: 40px;
  padding-top: 2px;
  border: none;
  background-color: white;
  color: black;
}