:root{
    --azul : #0059aa;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
  }
  
  #header {
    position: relative;
    width: 100%;
    background: #FFFFFF;
  }
  
  #header .social-bar{
    width: 100%;
    /* height: 35px; */
    background-color: var(--azul);
  }
  
  .info{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .info-contact{
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .info-contact i{
    margin-right: 5px;
  }
  
  .info-contact>*{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
  }
  
  .social{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .social a{
    text-decoration: none;
    color: #008ed4;
    background-color: #002e58;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.3s ease-in-out;
  }
  
  .social a:hover{
    color: white;
    background-color: #008ed4;
    transition: 0.3s ease-in-out;
  }
  
  #header .container {
    width: min(90%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
  }
  
  #header .container:nth-child(1){
    padding: 5px 0;
  }
  
  .logoecliente {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 60px;
  }
  
  .logoecliente img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    object-fit: contain;
  }
  
  .logomenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    display: none;
  }
  
  .logomenu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .menu{
    height: 100%;
    width: 0px;
    background-color: #0059aa ;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
    text-shadow: 0.2px 0.2px 0.2px white;
  }
  
  .menu a{
    color: white;
    font-size: 18px;
    display: block;
    padding: 12px 10px 12px 32px;
    text-decoration: none;
    font-family:sans-serif;
    
  }
  
  .menu a:hover{
    color: #0059aa;
    background-color: white;
  }
  
  .menu i{
    margin-right: 7px;
  }

  main{
    text-align: center;
    justify-content: center;
    display: flex;
  }

  h1{
    font-family: Helvetica;
    color:rgb(133, 132, 132);
    position: absolute;
    margin-bottom: 100px;
  }

  .img-programas{
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    display: block;
    position: absolute;
    margin-top: 50px;
  }

  .img-programas img{
    width: 440px;
    margin-top: -20px;
    text-align: center;
    justify-content: center;
    margin-bottom: -50px;
  }

  .img-programas img:hover{
    padding: 3px;
    transition: 0.2s;
  }