:root{
  --azul : #0059aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
}

#header {
  position: relative;
  width: 100%;
  background: #FFFFFF;
}

#header .social-bar{
  width: 100%;
  /* height: 35px; */
  background-color: var(--azul);
}

.info{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-contact{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.info-contact i{
  margin-right: 5px;
}

.info-contact>*{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
}

.social{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.social a{
  text-decoration: none;
  color: #008ed4;
  background-color: #002e58;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.social a:hover{
  color: white;
  background-color: #008ed4;
  transition: 0.3s ease-in-out;
}

#header .container {
  width: min(90%, 1200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

#header .container:nth-child(1){
  padding: 5px 0;
}

.logoecliente {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
}

.logoecliente img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.logomenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.logomenu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu{
  height: 100%;
  width: 0px;
  background-color: #0059aa ;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: width 0.3s;
  text-shadow: 0.2px 0.2px 0.2px white;
}

.menu a{
  color: white;
  font-size: 18px;
  display: block;
  padding: 12px 10px 12px 32px;
  text-decoration: none;
  font-family:sans-serif;
  
}

.menu a:hover{
  color: #0059aa;
  background-color: white;
}

.menu i{
  margin-right: 7px;
}


main {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.headline {
  position: relative;
  width: min(90%, 900px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #464650;
  text-align: center;
}

p.subtitulo {
  margin: 5px 0 20px;
  font-size: 18px;
  text-align: center;

  color: #464650;
}

.gerador-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: min(90%, 700px);
  padding: 30px 2%;

  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}

#setorcopy {
  display: flex;
  justify-content: center;
  width: 100%;
}

#senhacontainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  background: #F8F8F8;
  border: 1px solid #B5B5B5;
  border-radius: 10px;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

#displaysenha {
  position: relative;
  /* width: calc(100% - 110px); */
  width: 100%;
  height: 40px;
  border: 0;

  font-size: 22px;
  text-align: center;
  color: #515151;
  /* identical to box height */
}

.botaocopy {
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 99;
  transform: translate(0, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  padding: 3px 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  background: var(--azul);
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.botaocopy svg {
  padding-left: 5px;
  margin: 2px;
}

#geradorform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.labelcar {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #464650;
}

.labelcar.carac {
  padding-bottom: 20px;
}

.range .show {
  left: -78px;
}

#demo3 {
  color: transparent;
  background: #FFFFFF;
  border: 0;
  cursor: unset;
  user-select: none;
}

.input-char {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: center;
}

#rangeValue {
  display: flex;
  flex-direction: column;
}

#quantidadeletras {
  width: 255px;
  outline: none;
  border-radius: 15px;
  background: #FFFFFF;
}

#quantidadeletras::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--azul);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

}

.caracter {
  padding-top: 10px;
}

.input-mais {
  width: 29px;
  height: 29px;
  background: #FFFFFF;
  border: 1px solid #B5B5B5;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.input-menos {
  width: 29px;
  height: 29px;
  background: #FFFFFF;
  border: 1px solid #B5B5B5;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.multiselecao {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.checkbutton {
  display: flex;
  align-items: center;
}

.check {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #B5B5B5;
  border-radius: 5px;
}
.check:checked {
  background: var(--azul);
}

.label-check {
  padding-left: 5px;


  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #515151;
}

#btn-gerar-senha {
  height: 50px;
  width: 255px;
  background: var(--azul);
  border: none;
  border-radius: 10px;
  color: #FFFFFF;

  font-size: 22px;
  line-height: 26px;
  box-shadow: 3px 3px 7px 1px #ccc;
}

#conteiner-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

#btn-gerar-senha{
  cursor: pointer;
}

/* .form-range{
/* -webkit-appearance: none;
margin: 0 auto;
appearance: none; 
}*/
.sliderValue {
  position: relative;
  width: 100%;
}

.sliderValue span {
  position: absolute;
  height: 30px;
  width: 30px;
  transform: translateX(-70%) scale(0);
  top: -27px;
  z-index: 2;
  color: #FFFFFF;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderValue span.show {
  transform: translateX(-75%) scale(1);
}

.sliderValue span:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: var(--azul);
  border: 3px solid var(--azul);
  justify-content: center;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#range-box {
  display: flex;
  align-items: center;
}

span.b1{
  font-size: 22px;
  margin: 0 15px;
}

@media screen and (max-width: 410px){
  .info {
      display: none;
  }

  .logoecliente img {
      width: 80%;
  }

  h1 {
      font-size: 23px;
      line-height: 42px;
  }

  p.subtitulo {
      margin: 5px 0 15px;
      font-size: 14px;
  }

  #displaysenha {
      padding-left: 8px;
      font-size: 16px;
      text-align: left;
  }

  #quantidadeletras {
      width: 135px;
  }
  .multiselecao {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
  }
  #btn-gerar-senha {
      width: 80%;
      font-size: 17px;
  }
  .range .show {
      left: -38px;
  }

}